.input-group {
  margin: 0 0 1rem 0;
}

label {
  margin: 0 0 0.25rem 0;
  font-weight: bold;
  display: block;
}

input {
  padding: 0.25rem;
  border-radius: 5px;
  border: 1px solid #999;
  outline-color: lightblue;
}
